/* CUSTOM PROPORTIES */
:root {
  --green-color: #6a983c;
  --text-color: #151515;
  --second-font-family: "Open Sans", "Arial", sans-serif;
  --font-family: "Poppins", "Arial", sans-serif;
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/open-sans-v20-latin-regular.woff2') format('woff2'), 
  url('../fonts/open-sans-v20-latin-regular.woff') format('woff'); 
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/poppins-v15-latin-500.woff2') format('woff2'), 
  url('../fonts/poppins-v15-latin-500.woff') format('woff'); 
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/poppins-v15-latin-600.woff2') format('woff2'), 
  url('../fonts/poppins-v15-latin-600.woff') format('woff'); 
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/poppins-v15-latin-700.woff2') format('woff2'), 
  url('../fonts/poppins-v15-latin-700.woff') format('woff'); 
}

body{
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  list-style: none;
  overflow-x: hidden;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px); 
  clip: rect(1px, 1px, 1px, 1px);
  padding:0;
  border:0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.container{
  max-width: 1210px;
  padding: 20px 0;
  margin: 0 auto;
}


/* SITENAV */
.site-nav{
  display: flex;
  align-items: center;
  padding: 16px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.068);
  font-family: var(--second-font-family);
}

.site-nav__right-list,
.site-nav__list{
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  list-style: none;
  white-space: nowrap;
}

.site-nav__link{
  text-decoration: none;
  font-size: 12px;
  line-height: 16px;
  color: var(--green-color);
}

.black-color-link{
  color: var(--text-color);
}

.site-nav__right-item:not(:last-child){
  margin-right: 33px;
}

.site-nav__list{
  margin-left: auto;
}
.site-nav__item:not(:last-child){
  margin-right: 38px;
}

/* HEADER SECTION */
.header-section{
  display: flex;
  align-items: center;
  padding: 40px 0;
}

.header-section__img{
  display: block;
}

.header-section__form{
  width: 500px;
  margin: 0 auto;
  padding: 10px 16px;
  border: 1px solid #D1D1D1;
  box-sizing: border-box;
  border-radius: 12px;
}

.header-section__select{
  margin-right: 24px;
  border: none;
  outline: none;
  font-weight: bold;
  font-size: 15px;
  line-height: 22px;
  cursor: pointer;
}

.header-section__input{
  width: 286px;
  padding-left: 24px;
  border: none;
  border-left: 1px solid #d1d1d1;
  outline: none;
  font-size: 14px;
  line-height: 19px;
  color: #A9A9A9;
  background-image: url("/images/search-icon.svg");
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: calc(50% + 120px) 3px;
}

.site-user__link{
  text-decoration: none;
  margin-right: 34px;
}

.site-user__basket-img{
  position: relative;
  display: inline-block;
}

.site-user__basket-img::before{
  content: "";
  position: absolute;
  background-image: url("/images/4.svg");
  background-size: contain;
  width: 16px;
  height: 18px;
}

/* SITE MENU */
.site-menu{
  padding: 16px 0;
  background-color: #f9f9f9;
}

.site-menu__list{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-menu__item{
  display: inline-flex;
  align-items: center;
  position: relative;
}

.site-menu__item:not(:last-child){
  margin-right: 40px;
}

.site-menu__item::after{
  content: "";
  display: block;
  background-image: url("/images/arrow-bottom.svg");
  background-repeat: no-repeat;
  background-position: calc(50%) center;
  width: 12px;
  height: 12px;
  margin-left: 3px;
}
.site-menu__link{
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  text-decoration: none;
  color: var(--text-color);
}

.dropdown-menu{
  display: none;
  margin: 0;
  padding: 5px 10px;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  list-style: none;
  background-color: #8f8c8c;
}

.dropdown-link{
  font-size: 15px;
  line-height: 22px;
  text-decoration: none;
  color: rgba(14, 13, 13, 0.815);
}

.site-menu__item:hover .dropdown-menu{
  display: block;
}

/* MAIN */
/* CATEGORY SECTION */
.category-section,
.products-section{
  padding: 64px 0;
}

.category-section__container{
  display: flex;
  align-items: center;
}

.category-menu__title,
.products-menu__title{
  margin: 0;
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: var(--text-color);
}

.category-menu__item:not(:last-child),
.products-menu__item:not(:last-child){
  margin-bottom: 12px;
}

.category-menu__link,
.products-menu__link{
  font-size: 14px;
  line-height: 19px;
  color: var(--green-color);
}

.category-menu__list,
.products-menu__list{
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 48px;
}

.category-section__link,
.products-section__link{
  padding: 13px 16px;
  padding-right: 48px;
  background: #F5F5F5;
  border-radius: 12px;
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
  line-height: 22px;
  color: var(--text-color);
}

.recepies-section{
  margin-left: auto;
  padding-top: 48px;
  padding-bottom: 55px;
  padding-left: 32px;
  padding-right: 181px;
  background-image: url("/images/vegs-banner.png");
  background-repeat: no-repeat;
  background-size: 419px 280px;
  border-radius: 25px;
}

.recepies-section__text{
  margin: 0;
  margin-bottom: 8px;
  padding: 0;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: var(--green-color);
}

.recepies-section__title-text{
  margin: 0;
  margin-bottom: 94px;
  padding: 0;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
}

.recipe-section__link{
  display: inline-flex;
  align-items: center;
  margin: 0;
  padding: 12px 16px;
  padding-right: 38px;
  border: 2px solid #92C064;
  box-sizing: border-box;
  border-radius: 12px;
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
  line-height: 22px;
  color: var(--text-color);
}

.recipe-section__link::after{
  content: "";
  display: block;
  background-image: url("/images/arrow-right.svg");
  background-repeat: no-repeat;
  background-position: center center;
  width: 16px;
  height: 16px;
}


/* PRODUCTS SECTION  */
.products-section__container{
  display: flex;
  align-items: center;
}

.products-box{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
}

.one-fifty-dollar__product,
.thirty-dollar__product,
.one-ten-dollar__product{
  padding: 16px;
  padding-bottom: 26px;
  border: 1px solid #D1D1D1;
  box-sizing: border-box;
  border-radius: 12px;
}
.thirty-dollar__product{
  margin-left: 32px;
  margin-right: 32px;
}

.products-image-box{
  margin-bottom: 16px;
  padding: 90px;
  padding-right: 120px;
  padding-left: 120px;
  border-radius: 12px;
  background-color: #F9F9F9;
  background-size: 237px 150px;
}

.sale-products{
  position: relative;
}

.sale-products::before{
  content: "-36 %";
  position: absolute;
  top: 12px;
  left: 12px;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: var(--green-color);
}


.one-fifty-dollar__product-title{
  margin: 0;
  margin-bottom: 4px;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: var(--text-color);
}

.one-fifty-dollar__product-text{
  margin: 0;
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 16px;
  color: #575757;
}

.one-fifty-dollar__product-price{
  position: relative;
  display: inline;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: var(--text-color);
}

.sale-product-price{
  position: relative;
}

.sale-product-price::after{
  content: "48.56";
  position: absolute;
  top: 22px;
  left: 0;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  text-decoration-line: line-through;
  color: #A9A9A9;
}

.one-fifty-dollar__product-link{
  margin-left: 70px;
  padding: 7px 12px;
  border: 2px solid #46760A;
  box-sizing: border-box;
  border-radius: 12px;
  background-color: var(--green-color);
  text-decoration: none;
  color: #fff;
}


/* max-width: 1240px */
@media only screen and (max-width: 1240px) {
  .container{
    max-width: 1240px;
    padding: 0 15px;
    margin: 0 auto;
  }
}


/* max-width: 768px */
@media only screen and (max-width: 768px) {
  .container{
    max-width: 768px;
    margin: 0 auto;
    padding: 0 15px;
  }
  
  .header-section__form{
    max-width: 400px;
    margin: 0 auto;
    padding: 8px 10px;
  }
  
  .header-section__input{
    max-width: 200px;
    padding-left: 4px;
    font-size: 11px;
    line-height: 15px;
    background-position: calc(50% + 80px) center;
  }
  
  .site-menu__list{
    flex-wrap: wrap;
  }
}

/* max-width: 700px */
@media only screen and (max-width: 700px) {
  .container{
    max-width: 640px;
    margin: 0 auto;
  }
  
  .header-section{
    flex-wrap: wrap;
  }
  
  .header-section__form{
    max-width: 300px;
    margin: 0 auto;
    padding: 8px 10px;
  }
  
  .header-section__input{
    max-width: 100px;
    padding-left: 4px;
    font-size: 11px;
    line-height: 15px;
    background-position: calc(50% + 80px) center;
  }
  
  .site-menu__list{
    flex-wrap: wrap;
    justify-content: center;
  }
  
  
  /* max-width: 600px */
  @media only screen and (max-width: 600px) {
    .site-user{
      margin: 0 auto;
      margin-top: 20px;
    }
    
    .black-color-link{
      display: none;
    }
    
    .header-section__select{
      margin-right: 4px;
      border: none;
      outline: none;
      font-weight: bold;
      font-size: 12px;
      line-height: 12px;
      cursor: pointer;
    }
    
    .header-section__input{
      max-width: 150px;
      padding-left: 4px;
      font-size: 8px;
      line-height: 15px;
      background-position: calc(50% + 55px) center;
      background-size: 8px 8px;
    }
  }
  
  /* max-width: 510px */
  @media only screen and (max-width: 510px) {
    .container{
      max-width: 440px;
      margin: 0 auto;
    }
    
    .header-section{
      flex-direction: column;
    }
  }
  
  
  /* max-width: 375px */
  @media only screen and (max-width: 375px) {
    .container{
      max-width: 330px;
    }
    
    .site-nav__list{
      margin-left: auto;
    }
    .site-menu__link{
      font-size: 12px;
      line-height: 16px;
      text-decoration: none;
      color: var(--text-color);
    }
  }
}